/* Header.css */

  
  .header-logo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .header-title {
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 150px;
    margin-top: 70px;
  }
  